{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=fomezero;Username=seu_usuario;Password=sua_senha"
  },
  "Jwt": {
    "Secret": "SuaChaveSecretaComNoMinimo32Caracteres!"
  }
}
